//colors
$white: white;
$color_selective_yellow_approx: #ffb300;
$black: #000;
$red: #E00;
$color-grey:#969696;
$color-white: #e6e6e6;
$color-yellow: #ffb300;
$color-inout-red: #f93900;
$font-family-roboto: Roboto;
$font-family-sans-serif:sans-serif;